.plants {
    color:rgb(49, 63, 25);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: fit-content;
    width: 100%;

    &__header {
        width:100%;
        height: 80vh;
        background-image: url("../../assets/image-plants-header.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        filter: contrast(70%);
    }

    &__plant-container {
        font-size: 0.5em;
        flex: .25;
        display: inline-block;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: 300px;
    }
}