.about {
  width: 100%;
  height: 65vh;
  background-color: rgba(245, 245, 245, 0.075);
  display: flex;
  flex-direction: row;
}

.about__imagewrapper {
  height: 100%;
  width: 50%;
  background: url("../../assets/green-house-1.jpg");
  background-position: center;
  background-size: cover;
}

.about__textcontainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__textcontainer .header {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.1em;
  color: #587920;
}

.about__textcontainer .divider {
  margin-top: 0.1em;
  border: 2px solid rgba(52, 71, 20, 0.74);
  border-radius: 4px;
  width: 10%;
  margin-bottom: 1em;
}

.about__textcontainer .text {
  width: 80%;
  font-size: 0.9em;
  color: rgba(45, 56, 26, 0.849);
  text-align: center;
  line-height: 1.5em;
  white-space: pre-line;
}
