.about {
    width:100%;
    height: 65vh;
    background-color: rgba(245, 245, 245, 0.075);
    display: flex;
    flex-direction: row;
    font-size: 16px;

    &__imagewrapper{
        height: 100%;
        width: 50%;
        background: url("../../assets/image-home-about.jpg");
        background-position: center;
        background-size: cover;
    }
    &__container{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__title {
            text-transform: uppercase;
            font-size: 1.4em;
            letter-spacing: 0.1em;
            color:rgb(69, 94, 27);
        }
        &__divider {
            margin-top: 0.1em;
            border: 2px solid rgba(52, 71, 20, 0.74);
            border-radius: 4px;
            width: 10%;
            margin-bottom: 1em;
        }
        &__text {
            width: 80%;
            font-size: 0.9em;
            color:rgb(45, 56, 26);
            text-align: center;
            line-height: 1.5em;
            white-space: pre-line;
        }
    }
}

@media (max-width: 900px) {
    .about {
        font-size: 20px;
        height: 110vh;
        flex-direction: column;
        margin-bottom: 2em;

        &__imagewrapper {
            width: 100%;
            height: 40%;
        }

        &__container {
            width: 100%;
            height: 60%;

            &__divider {
                width: 25%;
            }

            &__text {
                width: 85%;
            }
        }
    }
}