header {
  min-width: 100vw;
  height: 100vh;
  border: 0.8em solid white;
  background-image: url("../../assets/background-header.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-shadow: inset 0 0 0 100vmax rgba(200, 255, 62, 0.2);
}
